{{#if user}}
    <header>
        <nav class="nav">
            <h1 class="navTitle">Ecommerce</h1> 
            <ul class="navList">
                <a href="/products"><li class="listItems">Productos</li></a>
                <a href="/carts"><li class="listItems">Carrito</li></a>
                <a href="/profile"><li class="listItems">Perfil</li></a>
                <a href="/chat"><li class="listItems">Chat</li></a>
            </ul>
            <div class="navButtons">
                <a href="/products/sell"><p>Vender un producto</p></a>
                <a href="/logout"><p class="logout">Cerrar Sesión</p></a>
            </div>
        </nav>
    </header>
{{else}}
    <header>
        <nav class="nav"> 
            <h1 class="navTitle">Ecommerce</h1> 
            <div class="authButtons">
                <a href="/login"><p>Iniciar Sesión</p></a>
                <a href="/register"><p>Registrarse</p></a>
            </div>
        </nav>
    </header>
{{/if}}
<h2 class="title">Inicio</h2>
