* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    background-color: rgb(157, 24, 24);
    padding: 2rem;
    text-transform: uppercase;
}

.navTitle {
    width: 25%;
}

.navList {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.navButtons {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.authButtons {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.authButtons p {
    padding: .5rem;
}

.buttonList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logout {
    text-align: center;
}

.title {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
    text-transform: uppercase;
}

.loginForm {
    width: 60%;
    margin: 2rem auto;
}

.registerForm {
    width: 60%;
    margin: 2rem auto;
}

.sellForm {
    width: 60%;
    margin: 2rem auto;
}

.formDiv {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.formDiv button {
    margin: 0 auto;
    width: 25%;
}

.mainProfile {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.prodsForSale {
    width: 70%;
    height: 700px;
    background-color: rgb(231, 231, 231);
    overflow-y: scroll;
    border-radius: 10px;
    padding: 1rem;
}

.prodsForSaleTitle {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}

.prodsForSaleContainer {
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1.5rem auto;
}

.prodsForSaleImage {
    width: 15%;
    height: 15%;
}

.prodsForSaleList {
    padding: 1rem;
    width: 60%;
}

.prodsForSaleItem {
    padding: 1rem;
    font-size: 1.2rem;
}

.prodsForSaleButtons {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prodsForSaleButtons a {
    width: 100%;
    margin: 0 auto;

}

.prodsForSaleButtons button {
    margin: 1rem auto;
    padding: .4rem;
    width: 75%;
    text-transform: uppercase;
}

.historyTitle {
    margin: 2rem;
    text-align: center;
}

.historySection {
    width: 100%;
    display: flex;
    text-align: center;
}

.historyPurchased {
    width: 50%;
}

.historySold {
    width: 50%;
}

/****************************************CHAT***********************************************/

.chatTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem auto;
    text-transform: uppercase;
}

.chatHr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 70%;
    margin: 0 auto;
}

.chatSubtitle {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}

.chatHistory {
    width: 70%;
    margin: 1rem auto;
    background-color: #9e9e9e;
    height: 500px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-y: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.chatMessageLine {
    width: 100%;
    margin: .5rem auto;
}

.email {
    color: #D90429;
    font-weight: bold;
}

.date {
    font-weight: bold;
}

.message {
    color: black
}


.chatForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 1rem auto;
    background-color: #9e9e9e;
    height: 4rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.chatForm input {
    width: 70%;
    height: 60%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.chatForm button {
    width: 15%;
    height: 60%;
    border: none;
    border-radius: 10px;
}

.productsTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem auto;
    text-transform: uppercase;
}

.productsHr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 70%;
    margin: 0 auto;
}

.productsSubtitle {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}

.productsForm {
    width: 65%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EF233C;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.productsForm label {
    align-self: start; 
    width: 75%;
    margin: 1rem auto;
    font-size: 1.2rem;
    text-decoration: underline;
}

.productsForm input {
    width: 75%;
    font-size: 1.2rem;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.productsForm button {
    margin: 2rem auto;
    width: 40%;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

#noData {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.productsTable {
    width: 65%;
    margin: 2rem auto;
    background-color: #EF233C;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.productsTableRow {
    text-transform: uppercase;
}

.productsTd {
    text-align: center;
    padding: 1rem;
}

.productsImage {
    width: 100px;
}

.noProducts {
    text-align: center;
    font-weight: bold;
}

#deleteBtn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #D90429;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.productsDeleteBtn:hover {
    cursor: pointer;
}

.profileDataTitle {
    text-align: center;
    font-size: 1.5rem;
}

.profileList {
    display: flex;
    flex-direction: column;
}

.profilePicContainer {
    display: flex;
    align-items: center;
}

.profilePicture {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: .5rem;
    border-radius: 50%;
}

.profileItems {
    border-bottom: 2px solid black;
    margin: 1rem 0;
}

.profileData {
    width: 20%;
    margin: 1rem;
}

/*--------------------------------------/// PRODUCTS ///-----------------------------------------------------------------------*/
.productsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.product {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.productImage {
    width: 150px;
    height: 150px;
}

.productList {
    padding: 1rem;
}

.productItem {
    margin: .5rem auto;
}

/*------------------------------------------------//PRODUCT VIEW//-----------------------------------------------------*/

.prodMain {
    margin: 2rem auto;
}

.prodContainer {
    padding: 1rem;
    display: flex;

}

.prodImage {
    width: 50%;
}

.prodAside {
    padding: 1rem;
}

.prodName {
    margin: 1rem auto;
    font-size: 2rem;
}

.prodPrice {
    margin: 1rem auto;
    font-size: 1.6rem;
}

.prodDescription {
    font-size: 1.2rem;
}

.prodStock {
    margin: 1rem auto;
    font-size: 1.2rem;
}

.prodSeller {
    margin: 1rem auto;
    font-size: 1.2rem;
}

.prodDate {
    margin: 1rem auto;
    font-size: 1.2rem;
}

.prodBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prodBtnContainer button {
    margin: 1rem auto;
    padding: 1rem;
    width: 40%;
    font-size: 1.5rem;
}

/*--------------------------------------------------//PRODUCT UPDATE//----------------------------------------------------*/

.updateMain {
    margin: 2rem auto;
}

.updateTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.updateAside {
    width: 45%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.updateForm {
    margin-bottom: 2rem;
    padding: 1rem;
}

.updateForm textarea {
    resize: none;
    display: block;
}